<!-- about-page -->
<style>
	.about-content {
		margin-top: 30px;
	}

	.about-heading {
		color: #333;
		font-size: 28px;
		margin-bottom: 20px;
	}

	.about-text {
		font-size: 16px;
		line-height: 1.6;
	}

		.about-text p {
			margin-bottom: 15px;
		}

</style>
<div class="about">
	<div class="container">
		<div class="dreamcrub">
			<ul class="breadcrumbs">
				<li class="home">
					<a href="index.html" title="Go to Home Page">Home</a>&nbsp;
					<span>&gt;</span>
				</li>
				<li class="women">
					About
				</li>
			</ul>
			<ul class="previous">
				<li><a asp-action="Index">Back to Previous Page</a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="about-content">
			<h2 class="about-heading">OUR STORY</h2>
			<div class="about-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget augue nec sem euismod sodales. Ut euismod massa risus, id pretium justo vestibulum sit amet. Sed auctor augue sit amet tellus eleifend placerat. Duis convallis magna id suscipit malesuada. Integer euismod efficitur sodales. Sed euismod eros nec metus congue, nec efficitur magna euismod.</p>
				<p>Phasellus eget massa a augue congue volutpat. Suspendisse potenti. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed et quam sit amet lectus tincidunt rutrum. Suspendisse potenti. Nullam at libero nisl. Duis in ultrices ipsum. Vivamus consectetur placerat tortor, a rhoncus libero sodales a. Integer tincidunt quam in nunc ullamcorper, vitae convallis velit condimentum. Nullam congue placerat sapien, non ultrices risus euismod sed.</p>
			</div>
		</div>

	</div>
</div>
