<!-- contact-page -->
<div class="contact">
	<div class="container">
	<div class="dreamcrub">
			   	 <ul class="breadcrumbs">
                    <li class="home">
                       <a href="index.html" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                       Contact
                    </li>
                </ul>
                <ul class="previous">
                	<li><a href="index.html">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
			   </div>
		<div class="contact-info">
			<h2>FIND US HERE</h2>
		</div>
		<div class="contact-map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6632.248000703498!2d151.265683!3d-33.7832959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12abc7edcbeb07%3A0x5017d681632bfc0!2sManly+Vale+NSW+2093%2C+Australia!5e0!3m2!1sen!2sin!4v1433329298259" style="border:0"></iframe>
		</div>
		<div class="contact-form">
			<div class="contact-info">
				<h3>CONTACT FORM</h3>
			</div>
			
			<form name="submit-to-google-sheet">
				<div class="contact-left">
					<input type="text" placeholder="Name" name="Name" required>
					<input type="text" placeholder="E-mail" name="Email" required>
					<input type="text" placeholder="Subject" name="Subject" required>
				</div>
				<div class="contact-right">
					<textarea placeholder="Message" name="Message" required></textarea>
				</div>
				<div class="clearfix"></div>
				<button type="submit" >Submit</button>
			</form>
		</div>
	</div>
</div>


<script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbwlQfQ1BntBXYluhVkEgAkMNsxjMRsrkPICFPHLvZh8s8nOgnzYODG0eTznXGFFwHBSig/exec';
    const form = document.forms['submit-to-google-sheet'];
    const submitButton = form.querySelector('button[type="submit"]');

    form.addEventListener('submit', e => {
        e.preventDefault();

        // Disable submit button to prevent multiple submissions
        submitButton.disabled = true;

        fetch(scriptURL, { method: 'POST', body: new FormData(form) })
            .then(response => {
                // Display success message
                alert('Form submitted successfully');
                // Reset form fields
                form.reset();
                console.log('Success!', response);
            })
            .catch(error => {
                console.error('Error!', error.message);
                // Re-enable submit button in case of error
                submitButton.disabled = false;
            });
    });
</script>
