@model Category

<section id="main-content">
	<section class="wrapper">
	<div class="form-w3layouts">
        <!-- page start-->
        <!-- page start-->
        <div class="row">
            <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            @(Model.Id!=0?"Edit Category":"Create Category")
                        </header>
                        <div class="panel-body">
                            <div class="position-center">
                                <form role="form" asp-action="Upsert" method="post" enctype="multipart/form-data">
                                   <input asp-for="Id" hidden/>
                                   <input asp-for="ImageUrl" hidden/>
                                <div class="form-group">
                                        <label asp-for="CategoryName">Category Name</label>
                                        <input asp-for="CategoryName" class="form-control" id="exampleInputEmail1" placeholder="Enter Category Name">
                                        <span asp-validation-for="CategoryName" class="text-danger"></span>

                                </div>
                                    <div class="form-group">
                                        <label asp-for="CategoryDescription">Category Description</label>
                                        <textarea asp-for="CategoryDescription" class="form-control" rows="4" cols="50"></textarea>
                                        <span asp-validation-for="CategoryDescription" class="text-danger"></span>
                                    </div>
                                    @{
                                        if (Model.ImageUrl != null)
                                        {
                                            <img src="@Model.ImageUrl" style="height:100px;width:100px" alt="img"/>
                                        }
                                    }
                                    <div class="form-group">
                                        <label >Image</label>
                                        <input type="file" name="file"/>
                                    </div>
                                    <div asp-validation-summary="All"></div>

                                    @if (Model.Id != 0)
                                    {
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-info mr-2">Update</button>
                                            <a class="btn btn-primary" asp-action="Product">Back to List</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-info mr-2">Create</button>
                                            <a class="btn btn-primary" asp-action="Product">Back to List</a>
                                        </div>

                                    }


                            </form>

                            </div>

                        </div>
                    </section>

            </div>
        
        </div>
       


        <!-- page end-->
        </div>
</section>
 <!-- footer -->
		  <div class="footer">
			<div class="wthree-copyright">
			  <p>© 2017 Visitors. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
			</div>
		  </div>
  <!-- / footer -->
</section>