@page
@model LockoutModel
@{
    ViewData["Title"] = "Account Blocked - Try Again Later";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Sorry,your account is currently blocked. Please try again later.</p>
</header>
