
 @model IEnumerable<Colors>
<section id="main-content">
    <section class="wrapper">
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">


                    <div class="col-md-6 text-left">
                        COLORS
                      
                    </div>
                    <div class="col-md-6 text-right">
                        <a class="btn btn-info" asp-area="Admin" asp-controller="Colors" asp-action="Upsert" asp-route-id="">Create Colors</a>

                    </div>


                </div>
                <div>
                    <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                        <thead>
                            <tr>
                                <th data-breakpoints="xs">ID</th>
                                <th>Color Name</th>
                                <th>Color</th>

                               
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr data-expanded="true">
                                    <td>@item.Id</td>
                                    <td class="col-md-2">@item.Color</td>
                                    <td><span class="dot" style="height:25px;width:25px;background-color:@item.Color;border-radius:50%;display: inline-block;"></span></td>
                                    <td>
                                        <div role="group">
                                            <a class="btn btn-primary" asp-area="Admin" asp-controller="Colors" asp-action="Upsert" asp-route-id="@item.Id">Edit</a>
                                            <a class="btn btn-danger " asp-area="Admin" asp-controller="Colors" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <div class="footer">
        <div class="wthree-copyright">
            <p>© 2017 Visitors. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
        </div>
    </div>
    <!-- / footer -->
</section>

<!--main content end-->
    </section>
